<%= form_with(model: solaritem, local: true) do |form| %>
  <% if solaritem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solaritem.errors.count, "error") %> prohibited this solaritem from being saved:</h2>

      <ul>
      <% solaritem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :peak_power %>
    <%= form.number_field :peak_power %>
  </div>

    <div class="field">
    <%= form.label :flux %>
    <%= form.number_field :flux %>
  </div>

    <div class="field">
    <%= form.label :voltage_work %>
    <%= form.number_field :voltage_work %>
  </div>

    <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Solaritem.statuses.keys.to_a %>
  </div>

    <div class="field">
    <%= form.label :voc %>
    <%= form.number_field :voc %>
  </div>

    <div class="field">
    <%= form.label :isc %>
    <%= form.number_field :isc %>
  </div>

    <div class="field">
    <%= form.label :efficiency %>
    <%= form.number_field :efficiency %>
  </div>

   <div class="field">
    <%= form.label :battery %>
    <%= form.text_field :battery %>
  </div>

    <div class="field">
    <%= form.label :additionals %>
    <%= form.text_area :additionals %>
  </div>

 <%= form.fields_for :producats do |builder|%>

    <div class="form-group">
    <%= builder.label "Categoria", class:"col-sm-2 control-label" %>
      <%= builder.collection_select :category_id, Category.all, :id, :name,{}, { :class => 'form-control' } %>
    </div>
    <!--<%=form.label :category %>
    <%=form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>-->
    <!--<%=form.select :category_id,
                    Category.all.map{|category|
                    [category.name, category.id] }, prompt:"Seleccione una opción.."%> -->
    <%end%>


  <div class="form-group">
    <%= form.label "Fotos", class:" control-label" %>
    <%= form.file_field :photos, multiple: true,  class:"form-control" %>
  </div>
  
  <% if solaritem.photos.count > 0 %>
  <div class="d-flex flex-wrap">
    <% solaritem.photos.each do |foto|%>  
        
        <%=image_tag(foto.variant(resize: "100"), :class =>"my-3") %>
        
        <%= link_to 'X', delete_image_attachment_solaritem_url(foto.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class =>"mr-3 btn-remove btn btn-danger " %>
        <%end%>
        
    </div>
  <%end%>

  <div class="actions my-5">
    <%= form.submit "Guardar", class:"btn-go btn-sm" %>
  </div>
<% end %>
