<div class="row d-flex justify-content-center">
  <div class="col-sm-6">
<%= form_with(model: cctvitem, local: true) do |form| %>
    <% if cctvitem.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cctvitem.errors.count, "error") %> prohibited this cctvitem from being saved:</h2>

        <ul>
        <% cctvitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class:" control-label" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class:" control-label" %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :brand, class:" control-label" %>
      <%= form.text_field :brand, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :status, class:" control-label" %>
      <%= form.select :status, Cctvitem.statuses.keys.to_a, class:"form-control" %>
    </div>

      <div class="form-group">
      <%= form.label :resolution, class:" control-label" %>
      <%= form.number_field :resolution, class:"form-control" %>
    </div>

      <div class="form-group">
      <%= form.label :type_of, class:" control-label" %>
      <%= form.text_field :type_of , class:"form-control"%>
    </div>

      <div class="form-group">
      <%= form.label :channels, class:" control-label" %>
      <%= form.number_field :channels, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :max_channels_ip, class:" control-label" %>
      <%= form.text_field :max_channels_ip, class:"form-control" %>
    </div>

      <div class="form-group">
      <%= form.label :additionals, class:" control-label" %>
      <%= form.text_area :additionals, class:"form-control" %>
    </div>


    <%= form.fields_for :producats do |builder|%>

    <div class="form-group">
    <%= builder.label "Categoria", class:"col-sm-2 control-label" %>
      <%= builder.collection_select :category_id, Category.all, :id, :name,{}, { :class => 'form-control' } %>
    </div>
    <!--<%=form.label :category %>
    <%=form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <%= form.collection_select :category_id, Category.all, :id, :name %>-->
    <!--<%=form.select :category_id,
                    Category.all.map{|category|
                    [category.name, category.id] }, prompt:"Seleccione una opción.."%> -->
    <%end%>


  <div class="form-group">
    <%= form.label "Fotos", class:" control-label" %>
    <%= form.file_field :photos, multiple: true,  class:"form-control" %>
  </div>
  
  <% if cctvitem.photos.count > 0 %>
  <div class="d-flex flex-wrap">
    <% cctvitem.photos.each do |foto|%>  
        
        <%=image_tag(foto.variant(resize: "100"), :class =>"my-3") %>
        
        <%= link_to 'X', delete_image_attachment_cctvitem_url(foto.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class =>"mr-3 btn-remove btn btn-danger " %>
        <%end%>
        
    </div>
  <%end%>

  <div class="actions my-5">
    <%= form.submit "Guardar", class:"btn-go btn-sm" %>
  </div>
<%end%>
  </div>
</div>
