
<div class="container items-index">
  <h1 class="titulo-seccion">Seguridad Electronica y Cctv</h1>



<div class="row">
    <% @cctvitems.each do |cctvitem| %>

    <div class="col-md-12 card">
				<div class="media blog-media">
          <%= image_tag cctvitem.photos.first.variant(resize:450), class:"d-flex img-fluid" %>
				  
				  <div class="card-body d-flex flex-column">
            
            <%=link_to cctvitem.name, @cctvitem_path , class:"titulo-producto"%>  
				    <div class="description_product"> <%=cctvitem.description%></div>
				    <h5 class="titulo-spec">ESPECIFICACIONES</h5>
            <ul class="list-group list-group-flush item-lista">
				    	<li class="list-group-item "><i class="ri-check-double-line"></i> <strong>Marca : </strong> <%= cctvitem.brand%></li>
              <li class="list-group-item"><i class="ri-check-double-line"></i> <strong>Resoluciòn : </strong> <%= cctvitem.resolution%> Mp.</li>
				    	<li class="list-group-item"><i class="ri-check-double-line"></i> <strong>Tipo : </strong> <%= cctvitem.type_of%> Tipo.</li>
              <li class="list-group-item"><i class="ri-check-double-line"></i> <strong>Canales : </strong> <%= cctvitem.channels%> C.</li>
              <li class="list-group-item"><i class="ri-check-double-line"></i> <strong>Max Canales Ip : </strong> <%= cctvitem.max_channels_ip%> CAnales</li>
              <li class="list-group-item"><i class="ri-check-double-line"></i> <strong>Adicionales : </strong> <%= cctvitem.additionals%> F.</li>
				    </ul>
            <div class="row">



              <% if signed_in?%>
                <div class="ml-5 mt-3 text-danger">
                  <span> <strong>Estado: </strong> </span> <span><%= cctvitem.status%></span> 
                </div>
                <div class="btn-group ml-auto">
                  <%= link_to cctvitem, class:"btn btn-primary"  do %>
                  <i class="lni lni-sm lni-search"></i>
                  <%end%>
                  <%= link_to edit_cctvitem_path(cctvitem), class:"btn btn-info"  do %>
                    <i class="lni lni-pencil"></i>
                  <%end%>
                  <%= link_to cctvitem, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  do %>
                    <i class="lni lni-trash"></i>
                  <%end%>
                </div>
              <%else%>
              <%= link_to "Ver Producto", cctvitem, class:"btn btn-ver ml-auto" %>
              <%end%>
              
            </div>
				  </div>
				</div>
		</div>
    <% end %>
  </div>
 <%#= paginate @cctvitems ,class:"ml-auto"%>

<br>
<% if signed_in?%>
<%= link_to 'Crear Producto', new_cctvitem_path, class:"btn-go my-4 " %>
<%end%>
</div>
