<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cctvitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cctvitem.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @cctvitem.brand %>
</p>

<%= link_to 'Edit', edit_cctvitem_path(@cctvitem) %> |
<%= link_to 'Back', cctvitems_path %>
